@font-face {
 font-family: 'Zurich Sans';
 src: url(https://zurich.invisionapp.com/assets/A_MGFjZjlkZDY2YjhlM2JmOTsBb6G5IXY7cplNwU-E9hzSJqLl9lV-OwqDieP3iYDEuv6r8qPFUAvW4xglk2pmOGnFM5tBoGHU6jY3n1BwgiYVeFfXKNUv41ckBY00CN5bTChCUb0vy5R0sOwKGr92IA==);
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'Ogg';
 src: url(https://zurich.invisionapp.com/assets/A_MGFjZjlkZDY2YjhlM2JmOVjPIdmRrL-xjxzVW0ZZXpSR3iB0xOAa5oyDux32-for-01VCRDMkiv7dCY9q7cjmrkmwaRx9_nzSwBya4RNUVo00d3mWa_qo7OZbqw_J30crFp9LCrtTVZJpZjZOzCvUQ==);
 font-weight: 400;
 font-style: normal;
}