@import "../assets/custom/custom-fonts.css"

body {
  padding-top: 5rem;
}

.container {
  max-width: 1280px;
}

h1 {
	font-size: 48px;
  font-family: "Zurich Sans";
}

h2 {
	font-size: 44px;
  font-family: "Zurich Sans";
}

h4 {
	font-size: 24px;
  font-family: "Zurich Sans";
}
h5 {
	font-size: 20px;
  font-family: "Zurich Sans";
}

.p-5 {
    padding: 50px!important;
}

.progress-steps ul{
  height: 175px;
  width: 1280px;
  background-color: #FFFFFF;
  border: 0px;
  text-align: -webkit-center;
}

.oval-copy-7 {
  box-sizing: border-box;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  border: 3px solid #1393D1;
  background-color: #FFFFFF;
}

.oval-copy-4 {
  box-sizing: border-box;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  padding-top: 4px;
  border: 3px solid #91BFE3;
  background-color: #FFFFFF;
}

.form-label-group {
  position: relative;
  margin-bottom: 22px;
  margin-top: 7px;
}

.form-label-group > input,
.form-label-group > label {
  height: 56px;
  padding: .75rem;
  border-radius: 28px
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}